# Eclipse
.classpath
.project
bin/**

# External tool builders
.externalToolBuilders/
.settings


# Custom
synanal.xml
lexanal.xml
abstree.xml
semanal.xml
lincode.xml
frames.xml
imcode.xml
PascalLex.java
PascalSyn.java
PascalTok.java

zidarTesti

*.pascal
*~
*.swp
