# Eclipse
.classpath
.project
bin/**

# External tool builders
.externalToolBuilders/

# Custom
synanal.xml
lexanal.xml
abstree.xml
semanal.xml
PascalLex.java
PascalSyn.java
PascalTok.java
*.pascal
*~
