# Eclipse
.classpath
.project
bin/**

# External tool builders
.externalToolBuilders/
.settings


# Custom
lib/**
synanal.xml
lexanal.xml
abstree.xml
semanal.xml
PascalLex.java
PascalSyn.java
PascalTok.java
*.pascal
*~
*.swp
